openapi: 3.0.1
info:
  description: MoralDistress API.
  title: MoralDistress API
  version: 1.0.0
  x-logo:
    url: https://moralpain-site.s3.amazonaws.com/docs/assets/icon.svg
    altText: MoralDistress Logo
servers:
- url: /
paths:
  /survey:
    get:
      description: |
        Fetch the latest moral distress questionnaire (MDQ) from the database.
      operationId: getSurvey
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/survey'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get the MDQ
      tags:
      - User
      x-amazon-apigateway-integration:
        httpMethod: get
        type: aws
        uri: arn:aws:apigateway:${AWS::Region}:s3:path/moralpain-resources/questionnaire.json
        credentials: arn:aws:iam::${AWS::AccountId}:role/apigateway_s3_survey_role
        passthroughBehavior: when_no_match
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
              method.response.header.Access-Control-Allow-Methods: '''*'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
      x-accepts: application/json
    options:
      description: |
        Enable CORS by returning correct headers
      operationId: optionsSurvey
      responses:
        "200":
          content: {}
          description: Default response for CORS method
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      summary: CORS survey support
      tags:
      - CORS
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode" : 200
            }
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
              method.response.header.Access-Control-Allow-Methods: '''*'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
            responseTemplates:
              application/json: |
                {}
      x-accepts: application/json
    post:
      description: |
        Submit a completed Moral Distress Questionnaire and Moral Distress Score to the database.
      operationId: submitSurvey
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/submission'
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      summary: Submit a completed MDQ
      tags:
      - User
      x-amazon-apigateway-integration:
        httpMethod: post
        type: aws_proxy
        uri: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:SubmitSurvey/invocations
        credentials: arn:aws:iam::${AWS::AccountId}:role/apigateway_s3_completed_survey_post_role
        passthroughBehavior: when_no_match
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
              method.response.header.Access-Control-Allow-Methods: '''*'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
      x-contentType: application/json
      x-accepts: text/plain
  /resiliency:
    get:
      description: |
        Fetch the recommended resiliency resources from the database.
      operationId: getResiliencyResources
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/resiliencyResources'
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      summary: Get resiliency resources
      tags:
      - User
      x-amazon-apigateway-integration:
        httpMethod: get
        type: aws
        uri: arn:aws:apigateway:${AWS::Region}:s3:path/moralpain-resources/resiliency_resources.json
        credentials: arn:aws:iam::${AWS::AccountId}:role/apigateway_s3_resiliency_resources_role
        passthroughBehavior: when_no_match
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
              method.response.header.Access-Control-Allow-Methods: '''*'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
      x-accepts: application/json
    options:
      description: |
        Enable CORS by returning correct headers
      operationId: optionsVisitedResiliencyResources
      responses:
        "200":
          content: {}
          description: Default response for CORS method
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      summary: CORS resiliency resources support
      tags:
      - CORS
      x-amazon-apigateway-integration:
        type: mock
        requestTemplates:
          application/json: |
            {
              "statusCode" : 200
            }
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
              method.response.header.Access-Control-Allow-Methods: '''*'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
            responseTemplates:
              application/json: |
                {}
      x-accepts: application/json
    post:
      description: |
        Submit the list of resources visited by this user to the database.
      operationId: submitVisitedResiliencyResources
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/visitedResiliencyResources'
      responses:
        "200":
          content:
            text/plain:
              schema:
                type: string
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Methods:
              explode: false
              schema:
                type: string
              style: simple
            Access-Control-Allow-Headers:
              explode: false
              schema:
                type: string
              style: simple
      summary: Submit visited resiliency resources
      tags:
      - User
      x-amazon-apigateway-integration:
        httpMethod: post
        type: aws_proxy
        uri: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:SubmitVisitedResiliencyResources/invocations
        credentials: arn:aws:iam::${AWS::AccountId}:role/apigateway_s3_visited_resources_post_role
        passthroughBehavior: when_no_match
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Headers: '''Content-Type,X-Amz-Date,Authorization,X-Api-Key'''
              method.response.header.Access-Control-Allow-Methods: '''*'''
              method.response.header.Access-Control-Allow-Origin: '''*'''
      x-contentType: application/json
      x-accepts: text/plain
  /admin/submissions:
    get:
      description: |
        Fetch from the database all of the records that match the query parameters.
      operationId: getSubmissions
      parameters:
      - description: Minimum possible timestamp of a record in UTC seconds since Unix
          epoch.
        example: 1640995200
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum possible timestamp of a record in UTC seconds since Unix
          epoch.
        example: 1647907200
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: integer
        style: form
      - description: Minimum possible score of a record.
        example: 1
        explode: true
        in: query
        name: minscore
        required: false
        schema:
          maximum: 10
          minimum: 0
          type: integer
        style: form
      - description: Maximum possible score of a record.
        example: 5
        explode: true
        in: query
        name: maxscore
        required: false
        schema:
          maximum: 10
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submissions'
          description: 200 response
        "400":
          description: 400 Bad Request
      summary: Get survey results
      tags:
      - Admin
      x-accepts: application/json
  /admin/analytics:
    get:
      description: |
        Perform an analysis on the records in the database that match the query paramters.
      operationId: getAnalytics
      parameters:
      - description: Minimum possible timestamp of a record in UTC seconds since Unix
          epoch.
        example: 1640995200
        explode: true
        in: query
        name: starttime
        required: false
        schema:
          type: integer
        style: form
      - description: Maximum possible timestamp of a record in UTC seconds since Unix
          epoch.
        example: 1647907200
        explode: true
        in: query
        name: endtime
        required: false
        schema:
          type: integer
        style: form
      - description: The analytic operation to perform on the data.
        example: count
        explode: true
        in: query
        name: operation
        required: true
        schema:
          enum:
          - average
          - count
          - maximum
          - minimum
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submissions'
          description: 200 response
        "400":
          description: 400 Bad Request
      summary: Get data analysis
      tags:
      - Admin
      x-accepts: application/json
components:
  schemas:
    survey:
      example:
        version: version
        sections:
        - subtitle: subtitle
          options:
          - description: description
            id: id
          - description: description
            id: id
          sectionId: sectionId
          title: title
        - subtitle: subtitle
          options:
          - description: description
            id: id
          - description: description
            id: id
          sectionId: sectionId
          title: title
      properties:
        version:
          type: string
        sections:
          items:
            $ref: '#/components/schemas/surveySection'
          type: array
      type: object
    surveySection:
      example:
        subtitle: subtitle
        options:
        - description: description
          id: id
        - description: description
          id: id
        sectionId: sectionId
        title: title
      properties:
        sectionId:
          type: string
        title:
          type: string
        subtitle:
          type: string
        options:
          items:
            $ref: '#/components/schemas/surveyOption'
          type: array
      type: object
    surveyOption:
      example:
        description: description
        id: id
      properties:
        id:
          type: string
        description:
          type: string
      type: object
    submissions:
      items:
        $ref: '#/components/schemas/submission'
      type: array
    submission:
      properties:
        score:
          type: integer
        selections:
          items:
            type: string
          type: array
        timestamp:
          type: integer
        id:
          type: string
      type: object
    resiliencyResources:
      example:
        resources:
        - resourceId: resourceId
          icon:
            fontPackage: fontPackage
            fontFamily: fontFamily
            codePoint: codePoint
          description: description
          title: title
          url: url
        - resourceId: resourceId
          icon:
            fontPackage: fontPackage
            fontFamily: fontFamily
            codePoint: codePoint
          description: description
          title: title
          url: url
        version: version
      properties:
        version:
          type: string
        resources:
          items:
            $ref: '#/components/schemas/resiliencyResource'
          type: array
      type: object
    resiliencyResource:
      example:
        resourceId: resourceId
        icon:
          fontPackage: fontPackage
          fontFamily: fontFamily
          codePoint: codePoint
        description: description
        title: title
        url: url
      properties:
        resourceId:
          type: string
        title:
          type: string
        description:
          type: string
        url:
          type: string
        icon:
          $ref: '#/components/schemas/icon'
      type: object
    icon:
      example:
        fontPackage: fontPackage
        fontFamily: fontFamily
        codePoint: codePoint
      properties:
        codePoint:
          type: string
        fontFamily:
          type: string
        fontPackage:
          type: string
      type: object
    visitedResiliencyResources:
      properties:
        selections:
          items:
            type: string
          type: array
        timestamp:
          type: integer
      type: object
    analyticsResult:
      properties:
        operation:
          enum:
          - average
          - count
          - maximum
          - minimum
          type: string
        value:
          type: number
      type: object

