AWSTemplateFormatVersion: 2010-09-09
Description: IAM Managed Policy
Parameters:
  Name:
    Type: String

Resources:
  Policy:
    Type: AWS::IAM::ManagedPolicy
    Properties: 
      ManagedPolicyName: !Ref Name
      PolicyDocument: 
        {{ sceptre_user_data.PolicyDocument }}

Outputs:
  PolicyArn:
    Value: !Ref Policy

