AWSTemplateFormatVersion: 2010-09-09
Description: IAM Role parameterized by managed polcies and an AssumeRolePolicyDocument.
Parameters:
  Name:
    Type: String
  ManagedPolicyArns:
    Type: List<String>

Resources:
  Role: 
    Type: AWS::IAM::Role
    Properties: 
      AssumeRolePolicyDocument:
        {{ sceptre_user_data.AssumeRolePolicyDocument }}
      ManagedPolicyArns: !Ref ManagedPolicyArns
      RoleName: !Ref Name

Outputs:
  RoleName:
    Value: !Ref Role
  RoleArn:
    Value: !GetAtt [Role, Arn]
  RoleId:
    Value: !GetAtt [Role, RoleId]

